 body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            width: 100%;
            height: 100%;
        }
        .left-panel {
            background-color: #0b2b4a;
            color: white;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
        }
        .left-panel img {
            width: 150px;
            margin-bottom: 20px;
        }
        .left-panel h2 {
            font-size: 2em;
            margin: 0;
        }
        .left-panel p {
            font-size: 1.2em;
            margin-top: 5px; /* Decreased margin */
        }
        .right-panel {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: white;
            box-sizing: border-box;
        }
        .signup-form {
            width: 100%;
            max-width: 400px;
            text-align: center;
        }
        .signup-form h2 {
            margin-bottom: 30px; /* Move the heading up */
            margin-top: 0; /* Move the heading up */
            
        }
        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input, .form-group select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .form-group input::placeholder {
            color: #999;
        }
        .btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: blue;
            color: white;
            text-align: center;
            border: none;
            cursor: pointer;
        }
        .btn:hover {
            background-color: darkblue;
        }
        .link {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: blue;
            text-decoration: underline; /* Underlined text */
        }